.stacked-bar-graph {
  width: 100%;
  height: 38px;
  color:#414042;

}

span {
  display: inline-block;
  height:100%;
  box-sizing: border-box;
  float: left;
  font-weight: bold;
  font-family: arial, sans-serif;
  /*padding: 10px;*/

}

.bar-1 {
  background: #F7B334;
}

.bar-2 {
  background: #A7A9AC;
}

.bar-3 {
  background: #D57E00;
}
