<!DOCTYPE html>
<html>

  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap.min.css"></link>
    <!-- JQuery JS -->
    <script src="../static/vendors/jquery.min.js" ></script>
    <!-- Bootstrap JS -->
    <script src="../static/vendors/bootstrap.min.js" ></script>
    <!-- Loader css -->
    <link rel="stylesheet" type="text/css" href="../static/css/loader.css" ></link>
  </head>

  <body>

    <div class="container">

    <h1>Floor Time</h1>

    <script type="text/javascript" >
      window.onload = function () {

        // react to clicks in the button span by changing the experience to show loading
        document.getElementById("btnSpn").onclick = function() {

          // show the loader
          document.getElementById("loader").style.display = "inline-block";

          // change the button to say running
          $("#uploadBtn").prop("value", "Running...");

          // delay so that the upload script is not prevented from loading
          setTimeout(function(){

            // disable button
            $("#uploadBtn").prop("disabled", "true");
          }, 10);
        };
      }
    </script>

    <h5>Select an audio file to upload:</h5>
    <h7>
      <button id="falseinput" class="btn btn-primary">Choose File</button>
      <div id="selected_filename">No file selected</div>
    </h7>

    <!-- On submit, redirects to upload -->
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload" id="fileinput" style="display:none">
        <div class="row">
          <span class="col-md-4" id="btnSpn">
            <input id="uploadBtn" style="margin-top:10px" class="btn btn-primary" type="submit" value="Upload File" name="filetoupload">
          </span>
          <span class="col-md-4"><div id = "loader" class="loader" ></div></span>
        </div>
    </form>
    <a href = "multiple"> Upload multiple files </a>
    </div>

    <script>
    // change the appearance of the file div when the user selects a file
      $(document).ready( function() {
        $('#falseinput').click(function(){
          $("#fileinput").click();
        });
      });
      $('#fileinput').change(function() {
        $('#selected_filename').text($('#fileinput')[0].files[0].name);
        const files = $('#fileinput')[0].files;
        const file = files[0];
        if(file == null){
          return alert('No file selected.');
        }
        getSignedRequest(file);
      });

      function getSignedRequest(file){
        const xhr = new XMLHttpRequest();
        console.log('SIGNED REQUEST');
        console.log(`/sign-s3?file-name=${file.name}&file-type=${file.type}`);
        xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
        xhr.onreadystatechange = () => {
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              const response = JSON.parse(xhr.responseText);
              uploadFile(file, response.signedRequest, response.url);
            }
            else{
              alert(var_dump(xhr));
            }
          }
        };
        xhr.send();
      }
      function uploadFile(file, signedRequest, url){
        const xhr = new XMLHttpRequest();
        xhr.open('PUT', signedRequest);
        xhr.onreadystatechange = () => {
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              alert('got '+url);
              //document.getElementById('preview').src = url;
              //document.getElementById('avatar-url').value = url;
            }
            else{
              alert('Could not upload file.');
            }
          }
        };
        xhr.send(file);
      }

    </script>


  </body>
</html>
