<!DOCTYPE html>
<html>

  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap.min.css"></link>
    <!-- JQuery JS -->
    <script src="../static/vendors/jquery.min.js" ></script>
    <!-- Bootstrap JS -->
    <script src="../static/vendors/bootstrap.min.js" ></script>
    <!-- Loader css -->
    <link rel="stylesheet" type="text/css" href="../static/css/loader.css" ></link>
  </head>

  <body>

    <div class="container">

    <h1>Floor Time</h1>

    <script type="text/javascript" >
      window.onload = function () {

        // react to clicks in the button span by changing the experience to show loading
        document.getElementById("btnSpn").onclick = function() {

          // show the loader
          document.getElementById("loader").style.display = "inline-block";

          // change the button to say running
          $("#uploadBtn").prop("value", "Running...");

          // delay so that the upload script is not prevented from loading
          setTimeout(function(){

            // disable button
            $("#uploadBtn").prop("disabled", "true");
          }, 10);
        };
      }
    </script>

    <h5>Select files to upload:</h5>
    <h7>
      <button id="falseinput" class="btn btn-primary">Choose Files</button>
      <div id="selected_filenames">No file selected</div>
    </h7>

    <!-- On submit, redirects to upload -->
    <form action="upload_multiple" method="post" enctype="multipart/form-data">
        <input name="filesToUpload" id="filesinput" type="file" multiple="" style="display:none"/>
        <div class="row">
          <span class="col-md-4" id="btnSpn">
            <input id="uploadBtn" style="margin-top:10px" class="btn btn-primary" type="submit" value="Upload Files" name="filetoupload">
          </span>
          <span class="col-md-4"><div id = "loader" class="loader" ></div></span>
        </div>
    </form>
    <!-- IMPORTANT:  FORM's enctype must be "multipart/form-data" -->
    <a href = ""> Upload a single file </a>
    </div>

    <script>
    // change the appearance of the file div when the user selects a file
      $(document).ready( function() {
        $('#falseinput').click(function(){
          $("#filesinput").click();
        });
      });
      $('#filesinput').change(function() {
        console.log($('#filesinput'));
        var numFiles = $('#filesinput')[0].files.length;
        var msg = " files selected";
        if( numFiles == 1){
          msg = " file selected";
        }
        $('#selected_filenames').text(numFiles + msg);
      });

    </script>

  </body>
</html>
